<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Confirmation</title>
<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
<body style="background-color: #a7dcf6;">
<div th:replace="fragments/header :: header"></div>

    <h1><div style="text-align: center;">FAST-MED</div></h1>
    <br>
    <h4 style="text-align: center;">Your Reservation is now being processed please wait for an email that will be sent to you </h4>
    <div style="text-align: center;"><a th:href="@{~/}">
    <button style="height: 40px; width: 200px; font-size:14px;" type="submit" class="btn btn-success"><a th:href = "@{~/Reservation}">Return</a></button>
    </a></div>
</div>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d7ba1bcdaf94b8c',m:'lZvCyXg3QLvd1SnGF0k0Ob_hjwD_w31_k3_dg8DeFAg-1643891020-0-ARhhVLko1eQSXSxi+++54j3YXe1FfTzNc8dWQw7l7om5Eo3nMPcdvq9bl3x8LXR7dOwoPwVQrhXCRpPKzhM4hLg+MbyZdL8GR6gGgrBbECIktaHX+ppPPYjLKJZtT9vgkafI2z/wXUkKZOJWEG5gDf+4t+28es/7UHnwEKuOSKju7NxH5P/j+KqYHz+ThisOl1DBqREvOP9HRmXAOkzefYY=',s:[0x6baf3ef87a,0x2fd5e975d9],}})();</script></body>
</html>