<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>About Us</title>
<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
<body style="background-color: #a7dcf6;">
<div th:replace="fragments/header :: header"></div>
<div class="col-md-5 col-md-offset-1">
<h1>About Us</h1>
    <p> Fast-Med a web application that would be able to reserve or have an appointment with a doctor concerning
        one's own health concerns or issues. Please understand if certain days cannot have an appointment as it is
        full.</p>

    <br>
    <p>Medical help or Healthcare is one of the most important things we all need right now. Specially with the ongoing virus
        (Corona Virus). Here in FastMed on of our goal is to provide fast healthcare to everyone in need. With Hospitals being
    crowded and the pandemic it is not safe to wait outside or inside a hospital with different patients.</p>
</div>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d7b6382792e6ba4',m:'wFV6IbR2OgYMJ4_frp2JKy6AYdpBxrMr3utm3xyp0lQ-1643888471-0-Aa4ZZhHBJfwKomgfMIuxrlngVYiVvK1DcJy/vb3oGqrZc1CD6JGVBsEJ8csKmB93HBmJTjX+yTnuf3Ql6IqvWV8HLaSm0pxtFnE3G/NNlDzjXV8CpkgddjK2xit03gf0j5RJSFgvRF/SjLw2Gnd9le3hQbza+k6hu4eXjNeI03SyYy2I6fGHMRXN2D6ZvczT2YosjPIocMduVrCAHDhsDMM=',s:[0xf080bf3127,0xb4239a42a3],}})();</script></body>
</html>